SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
HOME=/


# crontab example entries from https://help.ubuntu.com/community/CronHowto
01 04 1 1 1 /usr/bin/somedirectory/somecommand1
01 04 * * * /usr/bin/somedirectory/somecommand2
01,31 04,05 1-15 1,6 * /usr/bin/somedirectory/somecommand3
*/5 * * * * /usr/bin/somedirectory/somecommand4
*/18 * * * * /usr/bin/somedirectory/somecommand5
0,10,20,30,40,50 * * * * /usr/bin/somedirectory/somecommand6
00 01 * * * rusty /home/rusty/rusty-list-files.sh
00 06 * * * env DISPLAY=:0 gui_appname
45 04 * * * /usr/bin/updatedb
*/1 * * * * /usr/bin/updatedb2
*/3 * * * * /usr/bin/updatedb3
* * * * * date >> /tmp/aaa
@reboot root /usr/bin/rebooted arg1 arg2
@reboot root /usr/bin/rebooted --arg1=val2
